doctype html
html
  head
    title Plant Watering
    link(rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css")
    script(
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous")
    script(src="semantic/dist/semantic.min.js")
    link(rel="stylesheet" src="dygraph.css")    
    link(rel="stylesheet" href="/stylesheets/app.css")
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">     
  body
    div(class="ui secondary pointing menu")
      a(href="/" class="item") Plots
      a(href="/settings" class="item") Settings
      a(href="/help" class="item") Help
