include partials/header.pug
div(class="main ui container")
  h1 Diagnostics
  for ch, i in output
    button(class="ui button primary" id="refresh") toggle pump i

//script(src="moment.js")
//script(src="dygraph.js")
//script(src="synchronizer.js")
script(src="diagnostics.js")

