include partials/header.pug
div(class="main ui container")
  h1 Diagnostics
  button(class="ui button primary" id="refresh") toggle pump 1

//script(src="moment.js")
//script(src="dygraph.js")
//script(src="synchronizer.js")
script(src="diagnostics.js")

