html
    head
        script(src="moment.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous")
    body
        h1 Plant Watering Log
        p Hi there!
        <button id="refresh">refresh data</button>
        <canvas id='timePlot'></canvas>
        script(src="dataPlotting.js")
