include partials/header.pug
div(class="main ui container")
  h1 Plant Watering Plots
  div(class="ui labeled input")
    div(class="ui label") from:
    input(type="datetime-local" id="minDate" placeholder="min date")
  div(class="ui labeled input")
    div(class="ui label") to:
    input(type="datetime-local" id="maxDate" placeholder="max time")
  button(class="ui button primary" id="refresh") Load Data
  div(id="status-message" class="ui visible icon message")
    i(id="status-message-loading" class="spinner loading icon")
    div(class="content")
      h2(id="status-message-text")
  div(id="plots")

script(src="moment.js")
script(src="dygraph.js")
script(src="synchronizer.js")
script(src="dataPlotting.js")
